{
  "env": {
    "node": true
  },
  "globals": {},
  "rules": {
    "no-bitwise": 2,
    "camelcase": 2,
    "curly": 2,
    "guard-for-in": 2,
    "wrap-iife": [
      2,
      "any"
    ],
    "no-use-before-define": [
      2,
      {
        "functions": false
      }
    ],
    "new-cap": 2,
    "no-caller": 2,
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "no-new": 2,
    "quotes": [
      2,
      "single"
    ],
    "no-undef": 2,
    "no-unused-vars": 2,
    "comma-style": [
      2,
      "last"
    ]
  }
}
