{
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {},
  "rules": {
    "no-bitwise": "error",
    "camelcase": "error",
    "curly": "error",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "no-extend-native": "error",
    "wrap-iife": [
      "error",
      "any"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "new-cap": "error",
    "no-caller": "error",
    "no-empty": "error",
    "no-irregular-whitespace": "error",
    "no-new": "error",
    "no-plusplus": "off",
    "quotes": [
      "error",
      "single"
    ],
    "no-undef": "error",
    "no-unused-vars": "error",
    "strict": "off",
    "max-params": "off",
    "max-depth": "off",
    "max-statements": "off",
    "complexity": "off",
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreComments": true
      }
    ],
    "no-var": "off",
    "semi": "off",
    "no-cond-assign": "off",
    "no-debugger": "off",
    "no-eq-null": "off",
    "no-eval": "off",
    "no-unused-expressions": "off",
    "block-scoped-var": "off",
    "no-iterator": "off",
    "linebreak-style": "off",
    "comma-style": [
      "error",
      "last"
    ],
    "no-loop-func": "off",
    "no-multi-str": "off",
    "require-yield": "off",
    "valid-typeof": "off",
    "no-proto": "off",
    "no-script-url": "off",
    "no-shadow": "error",
    "dot-notation": "error",
    "no-new-func": "off",
    "no-new-wrappers": "off",
    "no-invalid-this": "off"
  }
}
