<!DOCTYPE html>
<html>
  <head>
    <title>Passport-42 Example</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  {{^user}}
    <p>
      <a href="/">Home</a> | 
      <a href="/login">Log In</a>
    </p>
  {{/user}}
  {{#user}}
    <p>
      <a href="/">Home</a> | 
      <a href="/account">Account</a> | 
      <a href="/logout">Log Out</a>
    </p>
  {{/user}}
  {{{ body }}}
  </body>
</html>
